
#imgtag
{
  position:relative;
  min-width:300px;
  min-height:300px;
  float:left;
  border:solid 3px #fff;
  cursor: crosshair;
}
.tagview
{
  border:solid 3px #fff;
  width:100px;
  height:100px;
  position:absolute;
  display:none;
}
#tagit
{
  position:absolute;
  top:0;left:0;
  width:250px;
}
#tagit .box
{
  border:solid 3px #fff;
  width:100px;
  height:100px;
  float:left;
}

#tagit .name
{
  float:left;
  background-color:#fff;
  width:130px;
  height:80px;
  padding:5px;
}
#tagit div.text
{
  margin-bottom:5px;
}
#tagit input[type=text]
{
  margin-bottom:5px;
}
#tagit #tagname
{
  width:110px;
}
#taglist
{
  background-color:#EEE;
  width:250px;
  height:2000px;
  float:left;
  padding:10px;
  color:#2277DD;

}
#taglist ol { padding:0 20px;float:left;cursor:pointer}
#taglist ol a { color:#2277DD;font-size:11px;}
#taglist ol a:hover { text-decoration:underline }
.tagtitle
{
  font-size:14px;
  text-align:center;
  width:100%;
  float:left;
}